body {
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0px;
}

.header {
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
  background: #0f4d0b;
  color: white;
  display: stretch;
}

.wrapper {
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(250px, auto);
  grid-auto-columns: minmax(100px, auto);
  padding-top: 50px;
  width: 80%;
  max-width: 1000px;
  row-gap: 30px;
  column-gap: 10px;
}
.grid-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  border: black solid 3px;
  overflow: hidden;
}

.info-box {
  flex-direction: row;
  align-items: flex-start;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.info-img-container {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-img {
  width: 100%;
}

.info-center {
  flex: 3;
}

.info-right {
  flex: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-box-btn-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 5px;
}

.features-section {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.features-header {
  margin-bottom: 0;
}

.btn {
  background-color: #4caf50;
  margin: 5px;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px;
  width: 100px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.pay-back-btn {
  display: none;
}

.btn:hover {
  background-color: #4bc54f;
}

.blue {
  background-color: #193c9b;
}

.blue:hover {
  background-color: #3649f8;
  color: white;
}

@media (max-width: 800px) {
  .top-box-btn-container {
    flex-direction: column;
  }
}
